[

DB {
	dbLabel = "HSQL MySQL",
	dbPackage = "haskelldb-hsql-mysql-0.9",
	dbModule = "Database.HaskellDB.HSQL.MySQL",
	dbOptions = []
},

DB {
	dbLabel = "HSQL PostgreSQL",
	dbPackage = "haskelldb-hsql-postgresql-0.9",
	dbModule = "Database.HaskellDB.HSQL.PostgreSQL",
	dbOptions = [("server", "localhost"),
	             ("db","hdb_test"),
	             ("uid","hdb_test"),
	             ("pwd","hdb_test_pass")]
}

]