[

Conn {
	dbLabel = "HSQL MySQL",
	dbPackage = "haskelldb-hsql-mysql-0.10",
	dbModule = "Database.HaskellDB.HSQL.MySQL",
	dbOptions = []
},

Conn {
	dbLabel = "HSQL PostgreSQL",
	dbPackage = "haskelldb-hsql-postgresql-0.10",
	dbModule = "Database.HaskellDB.HSQL.PostgreSQL",
	dbOptions = [("server", "localhost"),
	             ("db","hdb_test"),
	             ("uid","hdb_test"),
	             ("pwd","hdb_test_pass")]
},

Conn {
	dbLabel = "HSQL SQLite",
	dbPackage = "haskelldb-hsql-sqlite-0.10",
	dbModule = "Database.HaskellDB.HSQL.SQLite",
	dbOptions = [("filepath","sqlite-test.db"),("mode","rw")]
},

Conn {
	dbLabel = "HSQL SQLite3",
	dbPackage = "haskelldb-hsql-sqlite3-0.10",
	dbModule = "Database.HaskellDB.HSQL.SQLite3",
	dbOptions = [("filepath","sqlite3-test.db"),("mode","rw")]
}

]